.header-vision,
.header-mision{
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    max-width: 80%;
    height: 100vh;
    padding: 0 10%;
    background-repeat: no-repeat;
    background-size: cover; /* o contain, según lo que necesites */
    background-position: center;
    background-color: black;
    background-image: url("../assets/grad_azul.svg");
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.header-vision img,
.header-mision img{
    position: absolute;
    max-width: 1000px;
    top: -70px;
    right: -100px;
}
.header-vision img{
    max-width: 600px;
    top: 170px;
    left: 8%;
}

.header-vision{
    background-image: url("../assets/grad_azul_inv.svg");
    justify-content: right;
}

.info-mision{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 50%;
  
}

.info-mision h3{
    font-size: 2.5rem;
    color: white;
    text-align: center;
    font-weight: 800;
    margin-bottom: 0.5rem;
    margin-top: 0;
}




.info-mision p{
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}

@media (max-width: 768px) {

    .header-vision,
    .header-mision {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 600px;
      height: auto;
      background-size: cover;
      text-align: justify;
      overflow: hidden;
      padding: 3rem 0;
      margin-left: -5rem;
    }
  
    .header-vision img,
    .header-mision img {
      position: static;
      max-width: 80%;
      height: auto;
      margin: 1.5rem 0;
    }
  
    .info-mision {
      max-width: 800px;
      padding: 0;
      text-align: justify;

    }
  
    .info-mision h3 {
      font-size: 2rem;
    }
  
    .info-mision p {
      font-size: 1.1rem;
    }
  }
  